.card {
  display: flex;
  flex-direction: column;
  padding: calc(var(--range) * (24 - 20) + 20px);
  padding-bottom: calc(var(--range) * (24 - 21) + 21px);
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (min-width: 1440px) {
  .card {
    padding: 24px;
  }
}
