.footer__column-links-lower {
  display: flex;
  justify-content: space-between;
  max-width: 168px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 16px 0;
}

@media screen and (max-width: 485px) {
  .footer__column-links-lower {
    flex-direction: column;
    gap: 16px;
  }
}
