@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.root {
  max-width: 1440px;
  margin: 0 auto;

  font-family: "Montserrat", Arial, sans-serif;
  color: #888888;
  background-color: #f6f9ff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: calc((100vw - 390px) / (1440 - 390) * (29 - 16) + 16px)
    calc((100vw - 390px) / (1440 - 390) * (138 - 16) + 16px)
    calc((100vw - 390px) / (1440 - 390) * (27 - 16) + 16px);
  background-color: #fff;
}

.header__logo {
  width: calc((100vw - 390px) / (1440 - 390) * (121 - 96) + 96px);
  height: calc((100vw - 390px) / (1440 - 390) * (30 - 24) + 24px);
  background: url(../images/logo-header.svg) center / contain no-repeat;
}

.header__links {
  display: flex;
  justify-content: space-between;
  max-width: 288px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 7px 0;
}

.header__link {
  color: #888888;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity 0.2s linear;
}
.header__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__img-links {
  display: none;
  justify-content: space-between;
  max-width: 60px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__img-link {
  transition: opacity 0.2s linear;
}
.header__img-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__img-phone {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/icon-phone.svg) center / contain no-repeat;
}

.header__img-mail {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/icon-mail.svg) center / contain no-repeat;
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 29px 138px 27px;
  }

  .header__logo {
    width: 121px;
    height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .header__links {
    display: none;
  }

  .header__img-links {
    display: flex;
  }
}

.carousel {
  height: calc((100vw - 390px) / (1440 - 390) * (546 - 365) + 365px);
  background: url(../images/carousel-img.png)
      calc((100vw - 390px) / (1440 - 390) * (771 - 160) + 160px)
      calc((100vw - 390px) / (1440 - 390) * (0 - 154) + 154px) /
      calc((100vw - 390px) / (1440 - 390) * (670 - 232) + 232px) no-repeat,
    linear-gradient(100.68deg, #5991ff 13.6%, #0050ef 94.69%);
  padding: calc((100vw - 390px) / (1440 - 390) * (100 - 20) + 20px)
    calc((100vw - 390px) / (1440 - 390) * (138 - 16) + 16px)
    calc((100vw - 390px) / (1440 - 390) * (59 - 20) + 20px);
  box-sizing: border-box;
}

.carousel__title {
  max-width: calc((100vw - 390px) / (1440 - 390) * (570 - 284) + 284px);
  margin: 0;
  color: #fff;
  font-size: calc((100vw - 390px) / (1440 - 390) * (40 - 20) + 20px);
  font-weight: 600;
  line-height: calc((100vw - 390px) / (1440 - 390) * (56 - 24) + 24px);
}

.carousel__subtitle {
  max-width: calc((100vw - 390px) / (1440 - 390) * (454 - 318) + 318px);
  margin: calc((100vw - 390px) / (1440 - 390) * (22 - 20) + 20px) 0
    calc((100vw - 390px) / (1440 - 390) * (32 - 25) + 25px);
  color: #fff;
  font-size: calc((100vw - 390px) / (1440 - 390) * (16 - 14) + 14px);
  line-height: calc((100vw - 390px) / (1440 - 390) * (24 - 22) + 22px);
  flex-wrap: wrap;
}

.carousel__btn {
  padding: calc((100vw - 390px) / (1440 - 390) * (16 - 13) + 13px)
    calc((100vw - 390px) / (1440 - 390) * (32 - 24) + 24px);
  border: none;
  border-radius: 10px;
  background: #fff;
  color: #0050ef;
  font-weight: 600;
  font-size: calc((100vw - 390px) / (1440 - 390) * (16 - 14) + 14px);
  line-height: 20px;
  transition: opacity 0.2s linear;
}
.carousel__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.carousel__dots {
  margin-top: calc((100vw - 390px) / (1440 - 390) * (102 - 128) + 128px);
}

.carousel__dot {
  display: inline-block;
  margin-left: 2px;
  width: 29px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.carousel__dot_active,
.carousel__dot:hover {
  opacity: 1;
}

.carousel__dot:first-child {
  margin-left: 0;
}

@media screen and (min-width: 1440px) {
  .carousel {
    height: 546px;
    background: url(../images/carousel-img.png) 771px 0px / 670px no-repeat,
      linear-gradient(100.68deg, #5991ff 13.6%, #0050ef 94.69%);
    padding: 100px 138px 59px 138px;
  }

  .carousel__title {
    max-width: 572px;
    font-size: 40px;
    line-height: 56px;
  }

  .carousel__subtitle {
    max-width: 454px;
    margin: 22px 0 32px;
    font-size: 16px;
    line-height: 24px;
  }

  .carousel__btn {
    padding: 16px 32px;
    font-size: 16px;
  }

  .carousel__dots {
    margin-top: 102px;
  }
}

@media only screen and (max-width: 425px) {
  .carousel {
    margin-top: 16px;
  }

  .carousel__dot {
    width: 20px;
    height: 3px;
  }
}

.sticky-filter {
  display: flex;
  padding: 40px 138px;
}

.sticky-filter__author {
  max-width: 335px;
  width: 100%;
  margin-right: 20px;
  padding: 16px 46px;
  outline: none;
  border: none;
  border-radius: 10px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/icon-arrow.svg) 94% 50% no-repeat,
    url(../images/icon-user.svg) 5.1% 50% no-repeat, #fff;

  color: #888888;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.sticky-filter__date {
  display: flex;
  max-width: 336px;
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 10px;
}

.date-filter__date-container {
  display: flex;
  position: relative;
  max-width: 132px;
}

.sticky-filter__date-label {
  padding: 8px 16px 8px 0;
  color: #888888;
  font-weight: 600;
  line-height: 20px;
}

.sticky-filter__date-input-hidden {
  width: 100%;
  outline: none;
  border: none;
  color: #888888;
  font-weight: 600;
  line-height: 20px;
}

.sticky-filter__date-input-select {
  position: absolute;
  inset: 0;
  border: none;
  visibility: hidden;
}

.sticky-filter__date-dash {
  display: flex;
  align-self: center;
  width: 10px;
  height: 2px;
  margin: 0px 15px;
  border-radius: 2px;
  background-color: #888888;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(358px, 572px));
  justify-content: center;
  gap: 20px;
  margin-top: 16px;
}

.card {
  max-height: 252px;
  padding: 24px;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
}

.card__date {
  margin: 0;
  color: #10b2d0;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.card__title {
  margin: 8px 0 18px;
  color: #595959;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.card__text {
  margin: 0;
  line-height: 24px;
}

.card__badge-name {
  max-width: 84px;
  margin-top: 24px;
  padding: 8px 20px;
  border-radius: 10px;
  background: #f6f9ff;
  color: #0050ef;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  transition: background 0.2s linear, color 0.2s linear;
}
.card__badge-name:hover {
  background: #dce9fe;
  color: #0f63ed;
  cursor: pointer;
}

.footer {
  margin: 80px auto 0;
  padding: 48px 138px;
  background-color: #011846;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 194px;
  height: 48px;
  background: url(../images/logo-footer.svg) center / contain no-repeat;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  max-width: 462px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 16px 0;
}

.footer__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity 0.2s linear;
}
.footer__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer__lower {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.footer__author {
  margin: 0;
  color: #ccd1da;
  font-size: 14px;
  line-height: 20px;
  order: 1;
}

.footer__social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 128px;
  width: 100%;
  margin: 3px 0 0;
  padding: 0;
  list-style: none;
  order: 2;
}

.footer__social-link {
  transition: opacity 0.2s linear;
}
.footer__social-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer__social–icon-tg {
  display: block;
  width: 16px;
  height: 14px;
  background: url(../images/icon-telegram.svg) center / contain no-repeat;
}

.footer__social–icon-vk {
  display: block;
  width: 18px;
  height: 11px;
  background: url(../images/icon-vk.svg) center / contain no-repeat;
}

.footer__social–icon-fb {
  display: block;
  width: 10px;
  height: 16px;
  background: url(../images/icon-facebook.svg) center / contain no-repeat;
}

.footer__social–icon-in {
  display: block;
  width: 17px;
  height: 17px;
  background: url(../images/icon-linkedin.svg) center / contain no-repeat;
}
